@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
    margin: 50px 0px;
    font-family: 'Baloo Tamma 2', cursive;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.library {
  position: relative;
}

header {
  display: flex;
  width: 340px;
  height: 130px;
  justify-content: space-between;
  padding: 50px 10px 15px 10px;
  background-color: #FFCE33;
  font-size: 24px;
  font-weight: bold;
}

nav {
  position: absolute;
  top: 100px;
  right: 20px;
}

.search {
  z-index: 3;
  width: 300px;
  background-color: white;
  padding: 20px 18px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  color: rgb(193, 193, 193);
  bottom: 90px;
  box-shadow: 0px 4px 10px gray;
}

.search input {
  border: none;
}

.search input:focus {
  outline: none;
  cursor: pointer;
}

.search input::placeholder {
  border: none;
  font-size: 15px;
  color: rgb(193, 193, 193);
}

section h1 {
  font-size: 20px;
  font-weight: bold;
}

.book-day {
  z-index: 1;
  display: flex;
  padding: 55px 10px 10px 10px;
  flex-direction: column;  
  background-color: white;
}

.book-day__cover {
  padding-top: 10px;
  display: flex;
}

.book-day img {
  height: 160px;
  border-radius: 10px;
  border: 1px solid gray;
}

.book-day__cover-info {
  width: 180px;
  padding: 2px 0px 2px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.book-day__cover-info h2 {
  font-size: 18px;
  font-weight: bold;
}

.book-day__cover-info h3 {
  font-size: 14px;
  color: rgb(190, 190, 190);
}

.book-day__cover-info-rate i {
  font-size: 12px;
  color: yellow;
  text-shadow: 1px 1px 2px tomato;
}

.book-day__cover-info-genre {
  display: flex;
  font-size: 13px;
  justify-content: space-evenly;
  padding: 0px 10px; 
  
}

.book-day__cover-info-genre span {
  background-color: rgb(230, 230, 230);
  padding: 8px 15px 2px 15px;
  border-radius: 5px;
}

.book-day__cover-info-mark {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-day__cover-info-mark i {
  background-color: #FFCE33;
  font-size: 13px;
  padding: 8px;
  border-radius: 50px;
}

.book-day__cover-info-mark-btn span {
  display: block;
  background-color: black;
  font-size: 15px;
  color: white;
  padding: 8px 20px 5px 20px;
  border-radius: 5px;
}

.top-adventures {
  width: 340px;
  background-color: white;
  padding: 15px 10px 15px 10px;
  overflow-x: hidden;
}

.top-adventures-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.top-adventures__covers {
  padding-top: 10px;
  padding-right: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-adventures__covers-image img {
  height: 110px;
  border-radius: 10px;
  border: 1px solid gray;
}

.top-adventures__covers-star i {
  color: yellow;
  font-size: 10px;
  text-shadow: 1px 1px 2px tomato;
}

.popular-authors {
  width: 340px;
  background-color: white;
  padding: 12px 10px 20px 10px;
}

.popular-authors__cover {
  padding: 15px 0px;
  display: flex;
  align-items: flex-start;
}

.popular-authors__cover img {
  width: 110px;
}

.popular-authors__cover-info {
  padding: 15px;
}

.popular-authors__cover-info h2 {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 10px;
}

.popular-authors__cover-info h3 {
  font-size: 15px;
  line-height: 1.5;
  color: gray;
}

